*{
margin:0;
padding:0;
box-sizing:border-box;
user-select:none;
-webkit-user-select:none;
touch-action:none;
}

body{
overflow:hidden;
background:#111;
}

#game{
width:100vw;
height:100vh;
position:relative;
}

#player{
width:50px;
height:50px;
background:red;
position:absolute;
bottom:50px;
left:100px;
}

#obstacle{
width:50px;
height:50px;
background:black;
position:absolute;
bottom:50px;
right:-50px;
}

#score,#record{
color:white;
position:absolute;
font-size:20px;
left:10px;
}

#record{top:30px;}
#score{top:0;}

#pauseBtn{
position:absolute;
top:10px;
right:10px;
z-index:5;
}

#controls{
position:absolute;
bottom:10px;
width:100%;
display:flex;
justify-content:space-between;
}

#gameOver{
display:none;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

#deathImg{
width:200px;
}
